/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --sidebar-width: 130px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #adbc9f;
  padding: 16px;
  margin-left: var(--sidebar-width);
}

/* Logo */
.logo {
  padding-left: 10px;
}

/* Navigation Links */
.navlinks {
  display: flex;
  padding-right: 10px;
  list-style: none;
}

/* Navigation Links */
a.navitem {
  display: inline-block; /* Add this line */
  outline: none;
  text-decoration: none;
  color: #12372a;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  transition: transform 0.3s ease;
}

a.navitem:hover {
  color: #12372a;
  transform: scale(1.1);
}

/* Sidebar Menu */
.menu {
  background-color: #436850;
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  overflow: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  background-color: #12372a;
  color: #fbfada;
  text-align: center;
  padding: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100% - 160px);
  margin-left: var(--sidebar-width);
  margin-top: 50px;
}

.footertext {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Home Content */
.homecontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--sidebar-width) - 160px);
  margin-left: 200px;
  margin-top: 10%;
}

.clinicimage {
  margin-right: 50px;
}

.textcontent > h1 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.textcontent > p {
  width: 600px;
  font-family: "Roboto", sans-serif;
}

/* Hours Content */
.hourscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - var(--sidebar-width) - 160px);
  margin: 10% 0 0 200px;
}

.hourscontent > h1 {
  margin: 20px 0 50px;
  font-family: "Roboto", sans-serif;
}

/* Table */
table {
  width: 50%;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
}

.contactcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - var(--sidebar-width) - 160px);
  margin: 0 auto; /* centers the content horizontally */
}

.mapcontent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactcontent > h1 {
  margin-top: 20px;
}

.contactcontent > ul {
  margin: 20px;
  display: flex; /* makes the list items align in a row */
  flex-direction: column; /* makes the list items stack vertically */
  align-items: center; /* centers the list items horizontally */
}

.contactcontent > ul > li {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  width: 100%; /* makes the inputs take up the full width of the form */
  margin-top: 5px; /* adds a little space between the label and the input */
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button[type="reset"] {
  margin-left: 10px;
  background-color: #f00;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group button {
  width: 45%; /* Adjust as needed */
}
