* {
  margin: 0;
  padding: 0;
}
:root {
  --sidebar-width: 130px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #adbc9f;
  align-items: center;
  margin-left: var(--sidebar-width);
  padding: 16px;
}
.logo {
  padding-left: 10px;
}
.navlinks {
  display: flex;
  padding-right: 10px;
  list-style: none;
}
.navitem {
  outline: none;
  text-decoration: none;
  color: #12372a;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.menu {
  background-color: #436850;
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  overflow: auto;
}
footer {
  display: flex;
  background-color: #12372a;
  color: #fbfada;
  text-align: center;
  padding: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100% - 160px);
  margin-left: var(--sidebar-width);
  justify-content: flex-end;
}
.footertext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}
.content {
  display: flex;
  margin-left: 150px;
  margin-top: 20px;
}
.clinicimage {
  margin-top: 100px;
  margin-left: 100px;
}
.textcontent > h1 {
  margin-top: 120px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.textcontent > p {
  margin: 30px;
  width: 600px;
  font-family: "Roboto", sans-serif;
}
